* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #222;
}



header {
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: white;
}


nav {
    display: flex;
    gap: 20px;
}


nav a {
    color: white;
    text-decoration: none;
}


.hero {
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: #eaf2ff;
}


.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}


.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}


button {
    padding: 12px 25px;

    border: none;
    border-radius: 5px;

    background-color: #2563eb;
    color: white;

    cursor: pointer;
}


.about {
    padding: 70px 20px;

    text-align: center;
}


.about h2 {
    margin-bottom: 15px;
}


footer {
    padding: 20px;

    text-align: center;

    background-color: #333;
    color: white;
}